[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysql-connector-python = "*"
pymysql = "*"
cryptography = "*"
python-dotenv = "*"

[dev-packages]
